.header {
  height: 34vw;
  margin: 30px auto;
  background: url('../../assets/header_img.png') no-repeat;
  background-size: contain;
  position: relative;
}

.header-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  gap: 1.5vw;
  max-width: 52%;
  bottom: 10%;
  animation: fadeIn 3s;
}

.header-container h2 {
  font-weight: 500;
  color: #f2f2f2f2;
  font-size: max(4.5vw, 22px);
}

.header-container p {
  color: #f2f2f2f2;
  font-size: 1vw;
}


.header-container button {
  border: none;
  color: #747474;
  font-weight: 700;
  padding: 1vw 2.3vw;
  background: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}

@media (max-width:1050px) {
  .header-container {
    max-width: 45%;
  }
}

@media (max-width:750px) {
  .header-container {
    max-width: 65%;
  }

  .header-container p {
    display: none;
  }

  .header-container button {
    padding: 2vw 4vw
  }
}